/**
 * @license
 * MyFonts Webfont Build ID 3754989, 2019-05-02T21:14:34-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Gilroy-SemiBold by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 52,910
 *
 * Webfont: Gilroy-Regular by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 52,910
 *
 * Webfont: Gilroy-RegularItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 52,910
 *
 * Webfont: Gilroy-Medium by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 52,910
 *
 * Webfont: Gilroy-Light by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/light/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 500,000
 *
 * Webfont: Gilroy-ExtraBold by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/extra-bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 500,000
 *
 * Webfont: Gilroy-Bold by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * Licensed pageviews: 52,910
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3754989
 *
 * © 2019 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/394bed");

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/webfonts/394BED_0_0.eot');
  src: url('../fonts/webfonts/394BED_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/394BED_0_0.woff2') format('woff2'), url('../fonts/webfonts/394BED_0_0.woff') format('woff'), url('../fonts/webfonts/394BED_0_0.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/webfonts/394BED_1_0.eot');
  src: url('../fonts/webfonts/394BED_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/394BED_1_0.woff2') format('woff2'), url('../fonts/webfonts/394BED_1_0.woff') format('woff'), url('../fonts/webfonts/394BED_1_0.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/webfonts/394BED_2_0.eot');
  src: url('../fonts/webfonts/394BED_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/394BED_2_0.woff2') format('woff2'), url('../fonts/webfonts/394BED_2_0.woff') format('woff'), url('../fonts/webfonts/394BED_2_0.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/webfonts/394BED_3_0.eot');
  src: url('../fonts/webfonts/394BED_3_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/394BED_3_0.woff2') format('woff2'), url('../fonts/webfonts/394BED_3_0.woff') format('woff'), url('../fonts/webfonts/394BED_3_0.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/webfonts/394BED_4_0.eot');
  src: url('../fonts/webfonts/394BED_4_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/394BED_4_0.woff2') format('woff2'), url('../fonts/webfonts/394BED_4_0.woff') format('woff'), url('../fonts/webfonts/394BED_4_0.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/webfonts/394BED_5_0.eot');
  src: url('../fonts/webfonts/394BED_5_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/394BED_5_0.woff2') format('woff2'), url('../fonts/webfonts/394BED_5_0.woff') format('woff'), url('../fonts/webfonts/394BED_5_0.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/webfonts/394BED_6_0.eot');
  src: url('../fonts/webfonts/394BED_6_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/394BED_6_0.woff2') format('woff2'), url('../fonts/webfonts/394BED_6_0.woff') format('woff'), url('../fonts/webfonts/394BED_6_0.ttf') format('truetype');
  font-display: auto;
}
