/*!
 * Villavox Styles v1.0 (https://villavox.com/)
 * Copyright 2018-2019 Villavox
 * Copyright 2018-2019 George Daneke (https://daneke.ru)
 */

@import "mixins";
//@import "fonts";
@import "variables";
@import "bootstrap";
//blocks
@import "block/navbar";
@import "block/header";
@import "block/modals";
@import "block/carousel";
@import "block/footer";
@import "block/forms";


.hidden {
  display: none;
  visibility: hidden;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

html {
  font-size: 13.5px;
  //scroll-behavior: smooth;
}

.btn.btn-primary {
  background-image: linear-gradient(108deg, $blue, $indigo);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  @include hover-focus-active() {
    background-image: linear-gradient(108deg, darken($blue, 5%), darken($indigo, 5%));
  }
}

.nav-link {
  font-size: 13.5px;
}

.btn-arrow {
  position: absolute;
  z-index: 20;
  right: calc((100% - 85.625rem) / 2 / 2 - 2.25rem);
  bottom: 1.125rem;
  height: 4.5rem;
  width: 4.5rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  animation: bounce 2s linear 0s infinite alternate;

  @include media-breakpoint-down(md) {
    transform: translateY(0);
  }
  @media (max-width: 1200px) {
    position: relative;
    bottom: inherit;
    right: inherit;
    animation: none;
    transform: translateY(-15px);
  }
}

#modalSubmit {
  border-radius: 19px;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 600;
  height: $input-height-base;
  width: 100%;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.modal-header {
  border: none !important;
}

#loading {
  color: #7864ff;
  text-align: center;
  font-family: Gilroy;
  font-size: 1.5rem;
}

#done {
  color: #7864ff;
  text-align: center;
  font-family: Gilroy;
  font-size: 1.5rem;
}

#extraTag {
  font-family: Gilroy;
  color: gray;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

#registered {
  color: #7864ff;
  text-align: center;
  font-family: Gilroy;
  font-size: 1.5rem;
}

#emailInput {
  padding-left: 40px;
}

#userImage {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 22px;
  left: 30px;
}

#closeButton {
  border: none;
  background: none;
  position: absolute;
  top: -18px;
  right: -58px;
}

button:focus {
  outline: 0 !important;
}

#closeIcon {
  max-width: 30%;
  max-height: 30%;
}

.b-section {
  padding-top: 11.25rem;
  position: relative;
  z-index: 5;
  background: #fff;
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  @include media-breakpoint-down(md) {
    padding-top: 4.5rem;
  }

  &_about {
    position: relative;
    padding-top: 0;
    background: none;
    border-left: 0 none;
    border-right: 0 none;
    @include media-breakpoint-down(lg) {
      //margin-top: 0;
    }
    @media (max-width: 1280px) {
      margin-bottom: 8.33rem;
    }
    @include hover() {
      img {
        transform: translateY(0);
      }
    }

    .container {
      background-color: #fff;
      padding-top: 11.25rem;
      margin-top: -6.5rem;
      position: relative;
      //border-left: 1px solid rgb(238, 238, 238);
      //border-right: 1px solid rgb(238, 238, 238);
      @include media-breakpoint-down(md) {
        padding-top: 4.5rem;
        margin-top: 0;
      }
      //&::before {
      //  border-left: 1px solid rgb(238, 238, 238);
      //  //height: 100%;
      //  content: '';
      //  left: 0;
      //  position: absolute;
      //  top: 0;
      //  bottom: 0;
      //}

      //z-index: 2;
      &::after {
        content: '';
        width: 100%;
        height: 30.375rem;
        background-color: #f8f7ff;
        position: absolute;
        left: -100%;
        top: 0;
      }
    }

    .b-section__text {
      p {
        margin-bottom: 1.5rem;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 4.75rem;
      }
    }

    .b-section__title {
      margin-bottom: 7.75rem;
      position: relative;
      @include media-breakpoint-down(md) {
        margin-bottom: 1.25rem;
      }
    }

    &__img {
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(md) {
        margin-left: -1.875rem;
        margin-right: -0.9375rem;
      }

      img {
        z-index: 11;
        position: relative;
        width: 100%;
        transition: $transition-base;
        margin-left: 1px;
      }

      &::before {
        content: '';
        border-right: 1px solid rgb(238, 238, 238);
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: calc(100% + 8.875rem);
        z-index: 11;
      }

      &::after {
        position: absolute;
        content: '';
        width: 1000%;
        left: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: calc(100% + 8.875rem);
        background-color: #f8f7ff;
      }
    }

    .btn-arrow {
      top: 0;
      bottom: inherit;
      opacity: 0;
      animation: none;
    }

    .block-border-x {
      &::before {
        border-left: 1px solid rgb(238, 238, 238);
        //height: 100%;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        bottom: 0;
      }

      &::after {
        border-right: 1px solid rgb(238, 238, 238);
        //height: 100%;
        content: '';
        right: 0;
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }

  &_how {
    padding-top: 19.375rem;
    padding-bottom: 11.25rem;
    @media (max-width: 1280px) {
      padding-top: 3.5rem;
    }
    @include media-breakpoint-down(md) {
      padding-top: 4.2352rem;
      padding-bottom: 4.2352rem;
    }
    @include media-breakpoint-up(lg) {
      &::after {
        content: '';
        background-color: #f8f7ff;
        height: 70%;
        width: 1000%;
        top: 42%;
        left: -100%;
        right: 100%;
        position: absolute;
        z-index: -1;
      }
    }

    .b-section__name {
      margin-bottom: 3.125rem;
      @media (min-width: 1540px) {
        margin-bottom: 0;
        position: absolute;
        left: -8.625rem;
        top: 41%;
        transform: rotate(-90deg);
      }
    }
  }

  &_reviews {
    border-color: #fff;
    padding: 0;

    .container {
      position: relative;
      z-index: 7;
      background-color: #170d4e;
      @include media-breakpoint-down(md) {
        padding-top: 4.2352rem;
        padding-bottom: 0;
      }

      > .row {
        z-index: 10;
        background-color: #170d4e;
      }
    }

    //@include media-breakpoint-up(md) {
    //  &:hover {
    //    .b-section_reviews__img {
    //      transform: translateY(-10px);
    //    }
    //  }
    //}
  }

  &_benefits {
    padding-bottom: 11.5625rem;
    padding-top: 12.875rem;
    @include media-breakpoint-down(md) {
      padding-top: 4.2352rem;
      padding-bottom: 4.2352rem;
    }
  }

  &_join {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;

    .container {
      padding-top: 6.75rem;
      padding-bottom: 6.75rem;
      background-color: #f8f7ff;
      border-left: 1px solid rgb(238, 238, 238);
      border-right: 1px solid rgb(238, 238, 238);

      @include media-breakpoint-down(md) {
        padding-top: 4.2352rem;
        padding-bottom: 4.2352rem;
      }
    }

    .b-section__title {
      font-size: 3rem;
      line-height: 1.25;
      margin-bottom: 5.25rem;
      @include media-breakpoint-down(md) {
        font-size: 1.875rem;
      }
    }

    .form-group {
      position: relative;
      z-index: 10;

      .btn {
        position: absolute;
        top: 0;
        right: 0.5rem;
        bottom: 0;
        margin: auto;
        height: 3.5rem;
        width: 3.5rem;
        background-image: linear-gradient(140deg, $indigo, $blue);
      }
    }

    .form-control {
      min-height: 4.2352rem;
      border-radius: 2.25rem;
      box-shadow: 0 40px 40px rgba(23, 13, 78, 0.03);
      background-color: #fff;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 4.25rem;
      padding-left: 2.25rem;
      border: 0 none;
      font-size: 0.9375rem;
      font-weight: 500;

      &:hover {
        box-shadow: 0 40px 40px rgba(23, 13, 78, 0.04);
      }

      &:focus {
        box-shadow: 0 40px 40px rgba($ultramarine, 0.04);
      }
    }
  }

  &__name {
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 2.56;
    letter-spacing: 1.5px;
    text-align: center;
    color: $blue;
    margin-bottom: 10px;
    text-transform: uppercase;
    @include media-breakpoint-down(md) {
      font-size: 0.75rem;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.38;
    text-align: center;
    color: #170d4e;
    width: 32.5rem;
    max-width: 100%;
    margin: auto;

    &_lg {
      width: 59rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.875rem;
    }
  }

  &__text {
    color: $gray-600;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2;
    position: relative;
    z-index: 20;

    &_bold {
      color: $ultramarine;
      font-size: 1.3125rem;
      font-weight: 600;
      line-height: 1.75;
    }
  }
}

.how-item {
  position: relative;
  transition: $transition-base;
  @include media-breakpoint-up(md) {
    padding: 0 0.9375rem;
    margin-bottom: 0;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 0;
  }

  &::before {
    transition: $transition-base;
    user-select: none;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    width: 42px;
    height: 42px;
    background-image: linear-gradient(135deg, $indigo, $blue);
    position: absolute;
    top: 0;
    right: 0.9375rem;
    z-index: 2;
    @include media-breakpoint-down(sm) {
      right: 0;
    }
  }

  &:hover {
    &::before {
      width: 3.125rem;
      height: 3.125rem;
      line-height: 3.125rem;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 3rem;
    transition: $transition-base;
    background-blend-mode: color;
    background-image: linear-gradient(to bottom, rgba(23, 13, 78, 0.1), rgba(23, 13, 78, 0.1));
  }

  &__title {
    padding-left: 3rem;
    position: relative;
    color: $ultramarine;
    font-size: 1.3125rem;
    font-weight: 600;
    line-height: 2.5rem;
    z-index: 1;
    margin-bottom: 1.5rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      margin: auto;
      width: 3px;
      height: 34px;
      background-image: linear-gradient(180deg, #4b37ff 0%, #7864ff 100%);
    }
  }

  &__text {
    line-height: 2.25rem;
    font-size: 1.125rem;
    color: $gray-600;
    padding-left: 3rem;
    font-weight: 500;
  }
}

.b-section_how__items {
  counter-reset: myCounter;
  padding: 0;
  @include media-breakpoint-up(md) {
    position: relative;
    z-index: 10;
    &::after, &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 200%;
      z-index: -1;
    }
    &::after {
      border-right: 1px solid rgb(238, 238, 238);
      // TODO: change to rem
      right: 26px;
    }
    &::before {
      left: 26px;
      border-left: 1px solid rgb(238, 238, 238);
    }
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 4.2352rem;
  }

  &.row {
    margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      margin-left: -3.11111rem;
      margin-right: -3.11111rem;
      justify-content: space-between;
    }
  }

  .b-section_how__item {
    list-style: none;
    position: relative;
    transition: $transition-base;

    &:hover {
      @include media-breakpoint-up(md) {
        transform: translateY(-10px);
      }
    }
  }
}

.benefit-item {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
  padding-top: 1.75rem;
  text-align: center;
  transition: $transition-base;

  &:hover {
    @include media-breakpoint-up(md) {
      transform: translateY(-10px);
    }
  }

  &s {
    margin-top: 7.5rem;
  }
}

.benefit-item__img {
  margin-bottom: 2.75rem;
  transition: $transition-base;
  max-width: 100%;
}

.benefit-item__title {
  font-size: 1.3125rem;
  font-weight: 600;
  color: $ultramarine;
  margin-bottom: 2rem;
}

.benefit-item__text {
  color: $gray-600;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2;
}

// helpers
.h-dotted {
  position: relative;

  z-index: 6;
  @include media-breakpoint-up(lg) {
    &_footer {
      .container {
        position: relative;

        &::before {

          transition: $transition-base;
          width: 16.5rem;
          height: 16.5rem;
          content: '';
          position: absolute;
          left: 4.2352rem;
          bottom: -8.25rem;
          z-index: 2;
          background: url('../img/element-blue.svg') center center no-repeat;
          background-size: contain;
        }
      }
    }
    &_center {
      &::before {

        transition: $transition-base;
        width: 16.5rem;
        height: 16.5rem;
        content: '';
        position: absolute;
        bottom: -8.25rem;
        z-index: 2;
        background: url('../img/element-blue.svg') center center no-repeat;
        background-size: contain;
        left: calc(50% - 2.0625rem);
        margin: auto;
      }
    }
    &_left {
      .container {
        &::before {

          width: 16.5rem;
          height: 16.5rem;
          content: '';
          position: absolute;
          bottom: -8.25rem;
          z-index: -1;
          background: url('../img/element-blue.svg') center center no-repeat;
          background-size: contain;

          left: -8.25rem;
        }
      }
    }
  }
}
