/*Top Half Nav Bar*/
.nav-bar-top-half {
    padding-top: 23px;
    padding-left: 31px;
    padding-right: 28px;
}

.villa-vox-logo {
  width: 144px;
  height: 31px;
}

.add {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.pad-lock-unlocked {
  width: 11px;
  height: 16px;
  margin-right: 10px
}

.join-button {
  width: 90px;
  height: 38px;
  border-radius: 19px;
  border: 0px solid black;
  background-color: #6665ff;
  color: white;
}

.sign-in-text {
  margin-right: 15px;
}

.vertical-line {
  height: 22px;
  width: 1px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.1;
  border: solid 1px black;
}

/*Bottom Half Nav Bar*/

.nav-bar-bottom-half {
  padding-top: 23px;
  padding-left: 50px;
  padding-right: 28px;
  list-style: none;
}

.search-wrapper {
  position: relative;
}

.search-wrapper img {
  position: absolute;
  top: 13px;
  left: 14px;
  width: 14px;
  height: 14px;
}

.search-box {
  width: 300px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 39px;
}

.drop-down-1 {
  width: 159px;
  height: 38px;
  margin-left: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  padding-left: 20px;
  font-size: 14px;
}

.drop-down-1:active {
  background-color: rgba(102, 101, 255, 0.1);
}

.home {
  position: absolute;
  top: 12px;
  left: 14px;
  right: 12px;
  width: 15px;
  height: 14px;
}

.arrow-down {
  position: absolute;
  top: 15px;
  left: 134px;
  width: 8px;
  height: 4px;
}

.drop-down-menu {
  border-radius: 19px;
}

.drop-down-menu:active {
  color: "secondary"
}