.carousel {
  //height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  //padding-bottom: 93px;
  width: 100%;
}


.carousel-caption {
  position: relative;
  //position: absolute;
  right: inherit;
  bottom: inherit;
  left: inherit;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 28.5rem;

  &::after {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    top: -2.375rem;
    right: 0;
    content: '';
    display: block;
    z-index: 10;
    background: url('../img/invalid-name.svg') 0 0 no-repeat;
    background-size: contain;
    margin-right: 0;
    width: 22.875rem;
    height: 24.2352rem;
  }

  > .row {
    position: relative;
    z-index: 2;
  }
}

.carousel-control-next-icon {
  z-index: -1;
}

.carousel-control-prev-icon {
  transform: rotate(-180deg);
  z-index: -1;
}

.carousel-control-prev, .carousel-control-next {
  position: relative;
  min-height: 4.2352rem;
  min-width: 4.2352rem;
  border: 0;
  width: 100%;
}

.carousel-indicators {
  position: relative;
  bottom: inherit;
  //width: 100%;
  padding-left: 0;
  padding-right: 0;
  right: inherit;
  top: inherit;
  left: inherit;
  //margin: 0;
  margin-bottom: 5.735rem;
  @include media-breakpoint-down(sm) {
    margin-top: 1.875rem;
    margin-bottom: 6.25rem;
  }

  li {
    opacity: $carousel-control-opacity;
  }
}

.carousel-buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(116deg, #4b37ff, #7864ff);
  z-index: 3;

  &::before {
    content: '';
    width: 1px;
    height: 1.5rem;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0.1;
    z-index: 2;
  }

  @include media-breakpoint-down(sm) {
    left: 0;
    right: 0;
    width: 100%;
  }
}

.b-section_reviews__img {
  position: absolute;
  right: -0.9375rem;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 7;
  transition: $transition-base;
  width: 694px;
  @include media-breakpoint-down(lg) {
    right: inherit;
    left: inherit;
    bottom: inherit;
    max-width: 100%;
    position: relative;
  }
  @include media-breakpoint-down(md) {
    width: calc(100% - 2.8125rem);
    margin: -10.625rem auto 0;
  }
  @media (max-width: 110.3125rem) {
    right: 0;
    max-width: 100%;
    left: -6.25rem;
  }
  @media (max-width: 86rem) {
    left: 0;
  }
}

.carousel-item {
  color: #fff;
  padding-top: 6rem;

  &.active {
    .carousel-caption {
      &::after {
        opacity: 1;
      }
    }
  }

  &__ {
    &img {
      box-shadow: 3.125rem 3.125rem 80px #100936;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      object-fit: contain;
      background-blend-mode: color;
      background-image: linear-gradient(to bottom, rgba(23, 13, 78, 0.2), rgba(23, 13, 78, 0.2));
      margin-bottom: 1.75rem;
    }

    &name {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 2.5rem;
      line-height: 1;
    }

    &text {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.75;
      font-style: italic;
      margin-bottom: 0;
    }
  }
}
