.b-footer {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  text-align: right;
  color: $gray-600;
  border-left: 1px solid rgba($gray-700, 0.1);
  border-right: 1px solid rgba($gray-700, 0.1);
  @include media-breakpoint-down(md) {
    padding-top: 4.2352rem;
    padding-bottom: 4.2352rem;
  }
}
