.b-header {
  background-color: rgba(#120e2a, 1);
  z-index: 1;
  position: relative;
  text-align: center;
  color: #fff;
  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
  @include media-breakpoint-down(md) {
    z-index: 100;
  }

  &::before {
    //content: '';
    //width: 100%;
    //height: 486px;
    //background-color: #f8f7ff;
    //position: absolute;
    //left: -100%;
    //top: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #120e2a no-repeat center;
    background-size: cover;
    opacity: 1;
    @include my-img-retina('../img/nitish-meena-56691-unsplash.jpg', '../img/nitish-meena-56691-unsplash@2x.jpg');
  }

  .container {
    position: relative;
    z-index: 3;
  }

  &__btn {
    min-width: 13.25rem;
    max-width: 100%;
    height: 4.5rem;
    border-radius: 2.625rem;
    @include media-breakpoint-down(md) {
      height: auto;
      min-height: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      min-width: inherit;
    }
  }

  &__title {
    margin-bottom: 3.25rem;
    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
  }

  &__jumbotron {
    padding: 7.75rem 0 22.5rem;
    @media (max-width: 1480px) {
      padding: 6rem 0 8rem;
    }

    &-lead {
      font-size: 1.3125rem;
      color: $gray-200;
      line-height: 1.7;
      margin-bottom: 5rem;
      @include media-breakpoint-down(md) {
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
        br {
          display: none;
        }
      }
    }
  }
}
